.paragraph{
  display: flex;
  font-size: 60px;
  line-height: 1;
  padding: 40px;
  width: 50%; // Take 50% of the page width
  color: rgb(255, 255, 255);
  flex-wrap: wrap;
  font-family: 'EditorialNewItalic';
  justify-content: center; // Center the content horizontally
  align-items: center; // Center the content vertically
  margin: auto; // Center the paragraph horizontally
  margin-bottom: 200px; // Add space at the bottom

  .word{
    position: relative;
    margin-right: 12px;
    margin-top: 12px;
    .shadow{
      position: absolute;
      opacity: 5%;
    }
  }
}


