.paragraph{
  display: flex;
  font-size: 60px;
  line-height: 1;

  width: 50%; 
  color: #ec4e39;
  flex-wrap: wrap;
  font-family: 'EditorialNewItalic';
  justify-content: center; 
  align-items: center; 
  margin: auto; 
  margin-bottom: 100px; 
 

  .word{
    position: relative;
    margin-right: 12px;
    margin-top: 12px;
    .shadow{
      position: absolute;
      opacity: 10%;
      color: white;
    }
  }
}


