.container {
   
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 100px); /* Subtract 50px padding on both sides */
    padding: 0 50px; /* Add 50px padding on both sides */
    box-sizing: border-box; 
    color: rgb(230, 230, 230); 
  }
  
  .body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70vw;
  
  }
  
  .description, .tagsContainer{
    display: flex;
    justify-content: flex-start;
  }
  
  .description p{
    font-size: 15px;
    margin: 0px;
    font-family: 'Clash Grotesk';
    text-transform: uppercase;
  }
 

  
  
 
  
  .line{
    height: 1px;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
  }
  
  .line svg{
    width: 120%;
    height: 500px;
    position: absolute;
    top: -250px;
  }
  
  .line svg path{
    stroke: rgb(80, 80, 80);
    stroke-width: 1px;
    fill: none;
  }
  
  .line .box{
    height: 40px;
    width: 100%;
    position: relative;
    top: -20px;
    z-index: 1;
  }
  
  .line .box:hover{
    height: 500px;
    top: -250px;
  }