.main{
  position: relative;
  display: flex;
  height: 80vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
z-index: 1;
  width: 100%;
 
 
}
  
  .main img{
    object-fit: cover;
    width: 30%;
    height: auto;
    margin: 0 30px;
    border-radius: 50px;
  }
  
  .sliderContainer{
    position: absolute;
    top: calc(100vh - 250px);
  }
  
  .slider{
    position: relative;
    white-space: nowrap;
  
  }
  
  .slider p{
    position: relative;
    margin: 0px;
    color: #ec4e39;
    font-size: 170px;
    font-weight: 500;
    padding-right: 50px;
   
    font-family: 'EditorialNewItalic';
    font-weight: 300;
   
  }
  
  .slider p:nth-of-type(2){
    position: absolute;
    left: 100%;
    top: 0;
    
  }

.center {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.right {
  position: absolute;
  left: calc(50% + 15% + 30px); 
  display: flex;
width: 100px;
height: 100px;
padding: var(--space-250, 10px);
flex-direction: column;
justify-content: center;
align-items: center;
gap: 12px;
flex-shrink: 0;
border-radius: 99px;
border: 1px solid  rgb(239, 239, 239); 
color:  rgb(239, 239, 239); 
top: calc(50% - 200px); 
font-family: 'clash grotesk';
text-transform: uppercase;
z-index: 1;
}




.right:hover {
  border: 1px solid  rgb(183, 183, 183);
  cursor: pointer;
  background-color: rgba(192, 192, 192, 0.098);
}

.left {
  position: absolute;
  right: calc(50% + 15% + 30px); 
  color: rgb(239, 239, 239); 
  top: 50%;
  top: calc(50% +20px);
}
.left p {
  font-size: 20px;
  font-family: 'Clash Grotesk';
  font-weight: 300;
  margin: 0px;
  text-align: right;
  text-transform: uppercase;
  
}

@media (max-width: 768px) {
  .left p {
   font-size: 10px;
   
  }
  .center {width: 100%;}
}