.main {
 
    color: white;
  
 
}

.mainTitle {
    padding: 20px;
    font-size: 5vw;
    max-width: 80%;
    font-weight: 400;
    font-family: 'NeueMontreal-Book';
    margin-left: 30px;
}

.container {
    overflow: hidden;
    display: flex;
    flex-direction: row; 
    align-items: flex-start; 
    justify-content: flex-start; 
    margin: 0px 50px;
  
   
}
.container h1 {
    font-size: 5vw;
    font-family: 'NeueMontreal-Book';
    font-weight:400;
    color: white;
    margin: 0;
    text-align: left;
    display: inline-block;
    transform: translateY(100%);
    line-height: 1.2;
}

@media (max-width: 768px) {
    
    .container h1 {
        font-size:20px;
        transform: translateY(0%);
    }
    .container {
        margin: 0px 20px;
    }
}